$medium: 800px;

.result-container {
    display: grid;
    gap: 16px;

    width: #{"min(80%, 1000px)"};
}

.result-card {
    display: flex;
    gap: 5%;

    min-height: 280px;

    border: 3px solid lumx-color-variant('primary', 'N');
    border-radius: 10px;
    padding: 8px;

    @media screen and (max-width: $medium) {
        flex-direction: column;
        align-items: center;
    }
}

.result-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-image {
    max-width: 200px;
    height: fit-content;
    margin: auto 0;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
}

.chips-container a {
    width: fit-content;
    margin: 4px 0;
}
